footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.key-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.key-block {
  width: 45px;
  height: 60px;
  background-color: #d3d6da;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
}

.key-block2 {
  width: 80px;
  height: 60px;
  background-color: #d3d6da;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}

.key-block2 img {
  width: 30px;
}
