main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* gap은 내부요소 사이에 갭을 주기 때문에 main의 내부요소인 6개의 div들 사이에 갭을 줌 */
  margin-top: 7px;
  margin-bottom: 30px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* gap은 내부요소에 갭을 주는거라 border-row에 대해 갭을 주면 안에 있는 5개의 div들 사이에 갭을 주게 됨 */
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  width: 47px;
  height: 47px;
}
